.explorer-buttons {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  width: 100vw;
}

.explorer-buttons button {
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.185);
  margin-top: 15vh;
  padding: 1em;
  transform: scale(0.95);
  transition: 0.2s;
}

.explorer-buttons button:hover {
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.185);
  padding: 1em;
  transform: scale(0.97);
  transition: 0.2s;
}

.explorer-buttons button:active {
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.185);
  padding: 1em;
  transform: scale(0.9);
  transition: 0.2s;
}
